<div id="habilidades" padding="top">

<div class="hab">
<h1 class="hab">HABILIDADES</h1>
<div class="row">
</div>
<div class="habilidades">
       <h5 class="">Html</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>

    </div>
    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
    <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div>
<br>
    <h5 class="">Css</h5>
  <div class="barra">
<div class="progress">
    
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

  </div>
<br>
<h5 class="">TypeScript</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div><br>
<h5 class="">javascript</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div><br>
<h5 class="">Ruby</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div><br>
<h5 class="">Bootstrap</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div><br>
<h5 class="">Angular</h5>
<div class="barra">
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
<button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div><br><br>
</div>
</div>