* {
    
}

.contsaButton {
    cursor: pointer;
    border: 1px solid;
    
    border-color: rgb(214, 255, 7);
    border-radius: 30px;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    padding: 20px;
    transition: background-position .2s ease;
    background: linear-gradient(to right, rgb(250, 237, 215) 50%, rgb(199, 233, 190) 50%) no-repeat left / 200%;
}

.contsaButton:hover {


    background-position: right;
    

    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border: 5px;
}


.contsa {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;

}