<div class="edu">
    <h1 id="edu">
        EDUCACION 
    </h1>
    <br>
</div>
<div class="row">
    <div class="col-12">
        <div class="experiencia">


            <br>
            
                <div class="row">
                <button class="contsaButton">
                
                <div class="col-12">
                    <h2>ARGENTINA PROGRAMA</h2>
                    <h3>Yo programo</h3>
                    <h4>
                        Actualidad
                    </h4>
                    </div>
                    </button>
                    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <br><br>
                </div>
            

        <div class="row">
                <button class="contsaButton">
            
                    <div class="col-12">
            <h2>ARGENTINA PRORAMA</h2>
            <h2>Se programar</h2>
            <h4>
                2021
            </h4>
            <h4>
                Actualidad
            </h4>
             </div>
            </button>
            <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
            
            
            <div class="row">
                <button class="contsaButton">
            
                    <div class="col-12">
            <h2>I.A.C </h2>
            <h3>Diseñador Web</h3>
            <h3> Html- Dreamweaver - flash</h3>
            <h4>
                2005
            </h4>
            <h4>
                Actualidad
            </h4>
                    </div>
                </button>
            <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
            
            <div class="row">
                <button class="contsaButton">
            
                    <div class="col-12">
            <h2>I.A.C. Diseño grafico</h2>
            <h3> Corel Draw - Ilustrator - adobe Photoshop</h3>
            <h4>
                2003
            </h4>
            <h4>
                Actualidad
            </h4>
                    </div>
                </button>
            <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
            
            <div class="row">
                <button class="contsaButton">
                <div class="col-12">
            <h2>INSTITUTO BELTRAN 2001</h2>
            <h3>Operador de pc con entorno Grafico</h3>
            <h3>Manejo de office</h3>
            <h4>
                    2001
            </h4>
        <h4>  Actualida
                </h4>
            </div>
                </button>
                <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>

                <div class="row">
                    <button class="contsaButton">
                        <div class="col-12">
                <h2>Estudios Secundarios comerical</h2>
                <h3>Colegio San Juan (Banfield)</h3>
                <h4>
                    Actualidad
                </h4>
                        </div>
                    </button>
                <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
              