<div id="inicio" padding="top"></div> 
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" class="btn btn-outline-success" type="submit" href="#inicio">Inicio</a>
        </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"  >
            <span style="color: white"><i class="fas fa-align-justify"></i></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarSupportedContent" >
           
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
                <li class="nav-item">
                    <a class="nav-link active" class="btn btn-outline-success"  type="submit"  href="#experiencia" id="navbarSupportedContent" >Experiencia</a> 
               
            <li class="nav-item">
                <a class="nav-link active" class="btn btn-outline-success" type="submit"  href="#visual" id="navbarSupportedContent">Audiovisual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" class="btn btn-outline-success" type="submit"  href="#edu" id="navbarSupportedContent">Educacion</a>
            </li>
            <li class="nav-item">
               <a class="btn btn-outline-success" type="submit" href="#habilidades">Habilidades</a>
            </li>

                <li class="nav-item">
                    <a  class="btn btn-outline-success" type="submit"  href="#contacto" >Contacto</a>
                </li>

            </ul>
            <form class="d-flex">
                
            
                <button class="btn btn-outline-success" type="submit"  href="#">Login</button>

            </form>
           
            <img src="../../../assets/imagenes/APLogo.png" width="10%">
            
        </div>
    </div>
</nav>