

* {
   
    background-color:rgba(39, 35, 35, 0.808);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(241, 236, 236);
    
}
.nav-item{
   
    background-color:rgba(39, 35, 35, 0.808);
}


ul{
    background-color: rgb(31, 29, 29);
    padding-top: px;
    margin: 0px;
    text-align: center;
}


/*desoarecer menu
@media (width:500px) {
    #navbar {display: none};
} */