


* {
   
   
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    
}

#a{
     color:white;

}
.row {
    
    
    padding-top: 0px;
    margin: 0px;
    text-align: center;
}


/*desoarecer menu
@media (width:500px) {
    #navbar {display: none};
} */