<div class="row">
<div id="menu"></div>
 
<nav class="row" data-bs-target="#navbar" data-bs-spy="scroll">

    <nav id="navbar" class="navbar navbar-light bg-dark px-3 fixed-top">
        <div class="col-sm-3">
        <a href="#menu" class="navbar-link btn btn-">INICIO</a></div>
        <ul class="nav nav-pills">
            <div class="col-sm-3">
            <li class="nav-item">
                
                <a href="#experiencia" class="nav-link">EXPERIENCIA </a>
            </li></div>
            <div class="col-sm-3">
            <li class="nav-item">
                <a href="#visual" class="nav-link">AUDIOVISUAL</a>
            </li></div>
            <div class="col-sm-3">
            <li class="nav-item">
                <a href="#edu" class="nav-link">EDUCACIÓN</a>
            </li></div>
            <div class="col-sm-3">
            <li class="nav-item">
                <a href="#contacto" class="nav-link">CONTACTO</a>
            </li></div>
        </ul>
        
    </nav>
    
  <!-- <div class="scrollpsy-example p-5 m-5" tabindex="0"> -->
   