<div class="container1">
    <div class="row">
        <div class="col-12">
            <br>

            <figure class="figure"><img src="../../../assets/imagenes/luis.png" alt="Mi imagen de prueba"></figure>
        </div>

        <div class="luis">
            <p>Luis Sebastian Martinez Morinigo</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12 ">
    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
    <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>