<div class="fondo">

     <div id="experiencia">
    <h1> EXPERIENCIA LABORAL </h1><button type="button" class="fa fa-address-card-o" aria-hidden="true"
        data-bs-toggle="modal" data-bs-target="#exampleModal">

        <br>
    </button>


    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-4">
                <div class="contsa">
                    <button class="contsaButton">
                        <h2 class="multimedia">DISEÑADOR MULTIMEDIA</h2>
                        <img src="../../../assets/iconos/Recurso 5.png" alt=""> <img src="../../../assets/iconos/Recurso 3.png" alt="">
                        <img src="../../../assets/iconos/Recurso 6.png" alt=""> <img src="../../../assets/iconos/Recurso 7.png" alt=""><br>
                        Actualidad
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contsa">
                    <button class="contsaButton">

                        <h2 class="web">DISEÑADOR WEB</h2>
                        <img src="../../../assets/iconos/WEB.png" width="30" alt=""><br>
                        Actualidad
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contsa">
                    <button class="contsaButton">
                        <h2 class="desar">DESARROLLO WEB</h2>
                        <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                            src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                        Actualidad
                    </button>
                </div>

            </div>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </button>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    ctualidad
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <button class="contsaButton">
                    <h2>DISEÑADOR MULTIMEDIA</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </button>
            </div>
        </div>

    </div>

</div>
<br><br><br>
