<div class="fondo"><br>

    <div id="visual"><br><br><br><br>
       <h1> AUDIO VISUAL </h1>
    <div class="col-12 ">
        <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
        <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
</div> <br>



<div class="container-fluid">

    <div class="row">

        <div class="col-sm-4"> 

            <div class="contsa">
                <video src="../../../assets/audiovisual/15.mp4"  loop muted controls class="contsaButton">
                    
                    <h2 class="multimedia">UNIRSE PARA SER MAS FUERTES</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </video>
                <div class="botonera">
                    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <video src="./proyectos/audiovisual/trailer1.mp4" loop autoplay muted controls class="contsaButton">

                    <h2 class="web">DISEÑADOR WEB</h2>
                    <img src="./iconos/WEB.png" width="30" alt=""><br>
                    Actualidad
                </video>
                <div class="botonera">
                    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <video src="./proyectos/audiovisual/alan.mp4" loop autoplay muted controls class="contsaButton">
                    <h2 class="desar">DESARROLLO WEB</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </video>
                <div class="botonera">
                    <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                    <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
</div> <br>
<div class="row">
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/trailer2 instragram.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
            <div class="botonera">
                <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/aaaaaaaaaaaaa.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
            <div class="botonera">
                <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/Secuencia 01.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
            <div class="botonera">
                <button class="btn" style="float: center ;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-id-badge" aria-hidden="true"></i></button>
                <button class="btn" style="float: center ;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

</div><br>
<div class="row">
    
</div><br><br>