<div class="fondo"><br>

    <h1 class="Edu">
        AUDIO VISUAL </h1><button type="button" class="fa fa-address-card-o" aria-hidden="true" data-bs-toggle="modal"
        data-bs-target="#exampleModal">


    </button>
</div> <br><i></i>



<div class="container-fluid">

    <div class="row">

        <div class="col-sm-4">

            <div class="contsa">
                <video src="../../../assets/audiovisual/15.mp4" loop autoplay muted controls class="contsaButton">
                    
                    <h2 class="multimedia">UNIRSE PARA SER MAS FUERTES</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </video>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <video src="./proyectos/audiovisual/trailer1.mp4" loop autoplay muted controls class="contsaButton">

                    <h2 class="web">DISEÑADOR WEB</h2>
                    <img src="./iconos/WEB.png" width="30" alt=""><br>
                    Actualidad
                </video>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contsa">
                <video src="./proyectos/audiovisual/alan.mp4" loop autoplay muted controls class="contsaButton">
                    <h2 class="desar">DESARROLLO WEB</h2>
                    <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                        src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                    Actualidad
                </video>
            </div>

        </div>
    </div>
</div> <br>
<div class="row">
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/trailer2 instragram.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/aaaaaaaaaaaaa.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contsa">
            <video src="./proyectos/audiovisual/Secuencia 01.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
        </div>
    </div>

</div><br>
<div class="row">
    <div class="col-sm-12">
        <div class="contsa">
            <video src="./proyectos/audiovisual/pablo.mp4" loop autoplay muted controls class="contsaButton">
                <h2>DISEÑADOR MULTIMEDIA</h2>
                <img src="./iconos/Recurso 5.png" alt=""> <img src="./iconos/Recurso 3.png" alt=""> <img
                    src="./iconos/Recurso 6.png" alt=""> <img src="./iconos/Recurso 7.png" alt=""><br>
                Actualidad
            </video>
        </div>
    </div>
</div><br><br>